<div class="row justify-content-center pt-0 px-0">
  <div class="col-9 pr-0">
    <div class="col-12 px-0">
      <%= cover_img(current_user.cover_picture, {class: "cover-image"}) %>
      <%# <%= content_tag :div, "", class: "cover-image", style: "background-image: url(#{url_for(current_user.cover_picture)})" %>
    </div>
    <div class="col-12 p-3">
      <div class="bg-white p-3 rounded-sm">
        <div class="">
          <%= show_flash({class: "alert alert-info"}) %>
        </div>
        <%= render partial: 'shared/form', locals: { opinion: @opinion } %>
      </div>
    </div>
    <div class="col-12 mt-2 p-3">
      <div class="bg-white rounded-sm p-3">
        <p class="text-primary"><%= current_user.opinions.count %> NEW TWEETS</p>
        <hr class="text-dark">
        <%= render partial: 'shared/opinions', locals: { opinions: @opinions } %>
      </div>
    </div>
  </div>
  <div class="col-3 p-3 rounded-sm border-left px-0 pt-0">
    <div class="row justify-content-center ml-0">
      <div class="col-12 px-0">
      <div href="#" class="avatar">
        <div class="avatar-aspect-ratio"></div>
        <%= profile_img(@user.profile_picture) %>
      </div>
      <div class="col-12">
        <p class="text-dark text-center"><%= @user.username %></p>
        <p class="text-muted text-center text-sm"><%= @user.email %></p>
      </div>
      <div class="col-12 border-top border-bottom">
        <div class="d-flex justify-content-center align-items-center">
          <div class="pt-2 px-3 border-right">
            <p class="text-center pb-0 mb-0"><%= @user.opinions.count %></p>
            <p class="text-muted text-center pt-0 mt-0">Opinions</p>
          </div>
          <div class="pt-2 py-0 px-3 border-right">
            <p class="text-center pb-0 mb-0"><%= @user.following.count %></p>
            <p class="text-muted text-center pt-0 mt-0">Following</p>
          </div>
          <div class="pt-2 py-0 px-3">
            <p class="text-center pb-0 mb-0"><%= @user.followers.count %></p>
            <p class="text-muted text-center pt-0 mt-0">Followers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-3">
      <p class="text-muted tx-normal">WHO TO FOLLOW</p>
      <hr class="text-dark">
      <%= render partial: 'shared/follows', locals: { users: @follows } %>
    </div>
  </div>
</div>