<div class="nav flex-column bg-dark-blue h-100 w-15 position-fixed top-0">
  <div class="d-flex justify-content-center align-items-center py-2">
    <img src="https://source.unsplash.com/3NS4GaR0q3c/640x426" class="img-thumb rounded-sm m-2" alt="..." />
    <p class="text-muted pl-2 text-uppercase mt-2"><%= current_user.username %></p>
  </div>
  <div class="d-flex justify-content-center align-items-center border-gray">
    <div class="border-right-gray pt-2 px-3">
      <p class="text-light text-center pb-0 mb-0"><%= current_user.following.count %></p>
      <p class="text-muted text-center pt-0 mt-0">Following</p>
    </div>
    <div class="pt-2 py-0 px-3">
      <p class="text-light text-center pb-0 mb-0"><%= current_user.followers.count %></p>
      <p class="text-muted text-center pt-0 mt-0">Followers</p>
    </div>
  </div>
  <div class="list-group text-left text-muted">
    <div class="w-100">
      <%= link_to (fa_icon "home", class: "text-white pr-2", text: "HOME"), root_path, class: "list-group-item list-group-item-action active primary-bg" %>
    </div>
    <div class="">
      <%= link_to (fa_icon "at", class: "text-muted pr-2", text: "CONNECT"), root_path, class: "list-group-item list-group-item-action bg-transparent" %> 
    </div>
    <div class="">
      <%= link_to (fa_icon "hashtag", class: "text-muted pr-2", text: "DISCOVER"), root_path, class: "list-group-item list-group-item-action bg-transparent" %>
    </div>
    <div class="">
      <%= link_to (fa_icon "user", class: "text-muted pr-2", text: "PROFILE"), "/users/#{current_user.id}", class: "list-group-item list-group-item-action bg-transparent" %>
    </div>
  </div>
</div>