<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">

    <%= sidebar %>

    <nav class="navbar navbar-expand-lg navbar-dark primary-bg py-4 ml-15">
        <%= link_to fa_icon "twitter", id: "logo-font", class: "navbar-brand pl-3" %>
      <div class="collapse navbar-collapse justify-content-end align-items-center pr-2" id="navbarNav">
        <ul class="navbar-nav">
          <% if current_user %>
            <li class="nav-item mr-3">
              <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: "btn btn-sm bg-dark-blue text-white" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to current_user.username, "/users/#{current_user.id}", class: "btn btn-sm bg-dark-blue text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm text-white" %>
            </li>

          <% else %>
            <li class="nav-item mr-2">
              <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-sm btn-dark text-white"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: "btn btn-sm btn-dark text-white"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid pd-15">
      <%= yield %>
    </div>
  </body>
</html>
